[submodule "themes/coder"]
	path = themes/hugo-coder
	url = git@github.com:luizdepra/hugo-coder.git
[submodule "public"]
	path = public
	url = github.com:milgner/milgner.github.io.git
	branch = master
